#apresentacoes {
    color: hsl(0, 0%, 100%);
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
}

#title {
    color: rgb(14, 255, 1);
    text-align: center;
}

body {
    background-image: url('folha.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
.minha-classe{
  width: 300px;    /* largura da imagem */
  height: auto;    /* altura automática pra não deformar */
  display: block;  /* transforma em bloco pra poder centralizar */
  margin: 0 auto;  /* centraliza horizontalmente */}