#apresentacoes {
    color: hsl(52, 98%, 16%);
    font-family: montserrat;
    font-weight: bold;
    text-align: center;
}

#title {
    color: rgb(5, 65, 2);
    text-align: center;
}

#image1 {
    border-radius: 20%;
    width: 50px;
    height: 50px;
}